<div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/index.html">
                    <img src="assets/static/images/logo/logo.svg" alt="Logo" style="width:140px;">
                </a>
            </div>

            <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                <input class="form-check-input" type="checkbox" id="toggle-dark" style="cursor:pointer">
            </div>

            <div class="sidebar-toggler x">
                <a href="#" class="sidebar-hide d-xl-none d-block">
                    <i class="bi bi-x bi-middle"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-menu">
        <ul class="menu">

            <li class="sidebar-title">Menu</li>

            <li class="sidebar-item {{ 'active' if filename == 'index.html' }}">
                <a href="/index.html" class="sidebar-link">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item {{ 'active' if filename == 'courses.html' }}">
                <a href="/courses.html" class="sidebar-link">
                    <i class="bi bi-book"></i>
                    <span>Courses</span>
                </a>
            </li>

            <li class="sidebar-item {{ 'active' if filename == 'students.html' }}">
                <a href="/students.html" class="sidebar-link">
                    <i class="bi bi-people"></i>
                    <span>Students</span>
                </a>
            </li>

            <li class="sidebar-item {{ 'active' if filename == 'instructors.html' }}">
                <a href="/instructors.html" class="sidebar-link">
                    <i class="bi bi-person-badge"></i>
                    <span>Instructors</span>
                </a>
            </li>

        </ul>
    </div>
</div>
